img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

.exp_sol {
  padding-top: 20px;
  padding-bottom: 20px;
/*  border-bottom: 1px solid #f2f2f2;*/
  font-family: 'Proxima nova';
  font-weight: 100;
}

.exp_prod {
  padding-top: 20px;
  padding-bottom: 20px;
/*  border-bottom: 1px solid #f2f2f2;*/
  font-family: 'Proxima nova';
  font-weight: 100;
    float: left;
}


.aws_sec5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.aws_sec5 h1{
    font-family: proxima-nova, sans-serif;
  font-size: 56px;
    font-weight: 500;
}

.aws_sec5 h2{
    font-family: proxima-nova, sans-serif;
  font-size: 32px;
    font-weight: 300;
}

.aws_sec5 h3{
    font-family: proxima-nova, sans-serif;
  font-size: 24px;
    font-weight: 300;
}

.aws_sec5 p{
    font-family: proxima-nova, sans-serif;
  font-size: 16px;
    font-weight: 300;
   
}

aws_cloud {
  padding-top: 20px;
  padding-bottom: 20px;
/*  border-bottom: 1px solid #f2f2f2;*/
  font-family: 'Proxima nova';
  font-weight: 100;
    color: #fff;
}

.aws_cloud h2 {

  font-family: proxima-nova, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
    padding: 20px;

}

.sidecard-title{
    font-family: proxima-nova, sans-serif;
}

.aws_cloud p {

margin-bottom: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  border: 0px none transparent;
  font-family: proxima-nova, sans-serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 300;
    padding: 20px;
}

.col_org-bg1 {

    background-color: #ffc46d;
    width: 25%;
}

.col_org-bg2 {

    background-color: #ffac31;
    width: 25%;
}

.col_org-bg3 {

    background-color: #fda016;
    width: 25%;
}

.col_org-bg4 {

    background-color: #ff9802;
    width: 25%;
}
    
.col_zoho {
    width: 33.333%;
    border: 1px solid #000;
    padding-bottom: 1%;
}

.aws_sec5_hoever_card img {
    margin: 20px;
    border-style: none;
  border-width: 1px;
  border-color: #f2f2f2;
    float: left;
    
}

.aws_sec5_hoever_card {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  background-color: #fff;
  font-family: proxima-nova, sans-serif;
    float: left;
  }

.aws_sec5_hoever_card:hover {
  border-color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00);
  box-shadow: 0 0 15px 0 #f2f2f2;
}

.aws_try {
    
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3dcde7;
  text-align: center;
    
 }

.aws_try h1 {
    font-family: proxima-nova, sans-serif;
  font-size: 56px;
    font-weight: 700;
    color: #fff;
        margin-top: 0px;
}


.aws_dial {
    
    padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3dcde7;
    text-align: center;
    
 }

.aws_dial h1{
    font-family: proxima-nova, sans-serif;
  font-size: 56px;
    font-weight: 700;
    color: #fff;
    
}


/* Form Module */
.form-module {
	position: relative;
    background: #ffffff;
    max-width: 400px;
    width: 100%;
    border-top: 5px solid #3ccce6;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    margin:1em auto;
}
.form-module .toggle {
  cursor: pointer;
  position: absolute;
  top: -0;
  right: -0;
  background:#3ccce6;
  width: 30px;
  height: 30px;
  margin: -5px 0 0;
  color: #ffffff;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}
.form-module .toggle .tooltip {
	position: absolute;
    top: 5px;
    right: -75px;
    display: block;
    background: rgba(0, 0, 0, 0.6);
    width: auto;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
    opacity: 1;
    font-family: proxima-nova, sans-serif !important;;
}
.form-module .toggle .tooltip:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -5px;
  display: block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid rgba(0, 0, 0, 0.6);
}
.form-module .form {
  display: none;
  padding: 30px;
}
.form-module .form:nth-child(2) {
  display: block;
}
.form-module h3 {
    margin: 0 0 1.5em;
    color: #212121;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1;
}
.form-module input[type="text"],.form-module input[type="password"],.form-module input[type="email"] {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size:14px;
}
.form-module input[type="text"]:focus,.form-module input[type="password"]:focus,.form-module input[type="email"]:focus {
  border:1px solid #C7D0F5;
  color: #333333;
}
.form-module input[type="submit"] {
	background: #919191;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
	outline:none;
}
.form-module input[type="submit"]:hover {
  background:#3ccce6;
}
.form-module .cta {
	background: #343434;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
}
.form-module .cta a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
.modal-header {
    text-align: center;
    font-size: 2em;
    color: #212121;
}
.modal-content{
	z-index:9999;
}
/*-- //login --*/


@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}


.sidecard {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
/*
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
*/
}

.sideflex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.sideflex-row {
    -webkit-box-orient: horizontal!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: row!important;
    flex-direction: row!important;
}

.pr-2, .px-2 {
/*    padding-right: .5rem!important;*/
}

.sidew-100 {
    width: 100%!important;
}

.sidecard-header:first-child {
/*    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;*/
}

.sidecard-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
/*    background-color: rgba(0,0,0,.03);*/
/*    border-bottom: 1px solid rgba(0,0,0,.125);*/
    width: 125px;
}

.border-0 {
    border: 0!important;
}

.partner_banner_section {
  background-color: #1f73c3;
background-image: url('../images/part_ban.jpg');
    background-repeat: no-repeat;
    width: 100%;
}



/* raj */

.title_heading_zoho {
  font-family: proxima-nova, sans-serif;
  color: #000;
  font-size: 40px;
  line-height: 69px;
  font-weight: 500;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.padtop {
    padding-top: 2%;
}

.aws_sec5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.aws_sec5 h1{
    font-family: proxima-nova, sans-serif;
  font-size: 56px;
    font-weight: 500;
}

.aws_sec5 h2{
    font-family: proxima-nova, sans-serif;
  font-size: 32px;
    font-weight: 300;
}

.aws_sec5 h3{
    font-family: proxima-nova, sans-serif;
  font-size: 24px;
    font-weight: 300;
}

.aws_sec5 p{
    font-family: proxima-nova, sans-serif;
  font-size: 16px;
    font-weight: 300;
   
}

    

.aws_sec5_hoever_card img {
    margin: 20px;
    border-style: none;
  border-width: 1px;
  border-color: #f2f2f2;
    float: left;
    
}

.aws_sec5_hoever_card {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  background-color: #fff;
  font-family: proxima-nova, sans-serif;
    float: left;
  }

.aws_sec5_hoever_card:hover {
  border-color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00);
  box-shadow: 0 0 15px 0 #f2f2f2;
}


.hoever_card1 {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  background-color: #fff;
  font-family: proxima-nova, sans-serif;
  text-align: left;
}

.hoever_card1:hover {
  border-color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00);
  box-shadow: 0 0 15px 0 #f2f2f2;
}

.hoever_card2 {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  background-color: #fff;
  font-family: proxima-nova, sans-serif;
  text-align: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.hoever_card2:hover {
  border-color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00);
  box-shadow: 0 0 15px 0 #f2f2f2;
}

.partner_banner_section {
  background-color: #1f73c3;
background-image: url('../images/part_ban.jpg');
    background-repeat: no-repeat;
    width: 100%;
}

.sub_regular_content_zoho{
  margin-bottom: 0px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border: 0px none transparent;
  font-family: proxima-nova, sans-serif;
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  text-align: center;
  padding-top: 35px;
}
.div-block-2_zoho {
  padding:25px;
  line-height:auto;
}

.slide_zoho{
  height: 450px;
}
div-block-6 w-col-12_zoho{
  float: left;
  margin: 25px;

}
.div-block-6_zoho{

  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #dcdbdb;
  /* border-radius: 20px; */
  box-shadow: 0 0 3px 0 #d0cdcd;
  font-family: proxima-nova, sans-serif;
  text-align: left;
  margin: 6px;

}

.w-col .w-col-12_zoho{

  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #dcdbdb;
  /* border-radius: 20px; */
  box-shadow: 0 0 3px 0 #d0cdcd;
  font-family: proxima-nova, sans-serif;
  text-align: left;
  margin: 6px;

}
.slider_zoho {

  height: 450px;
  text-align: center;
  background-color: #fff;
 

}
.erp_section_zoho {
  padding-top: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #f2f2f2;
/*  margin-top: 210px!important;*/
}

.software_paragraph_zoho {
  font-family: proxima-nova, sans-serif;
  color: rgb(170, 170, 170);
  font-size: 25px;
  line-height: 28px;
  font-weight: 400;
}
.sf_heading_zoho {
  margin-top: 10px;
  color: #858585;
  font-size: 32px;
  font-family: proxima-nova, sans-serif;
    line-height: 28px;
    /*  padding: 15px;*/
}

.sf_sub_heading_zoho {
  margin-top: 10px;
  color: #858585;
  font-size: 32px;
  font-family: proxima-nova, sans-serif;
        line-height: 28px;
  font-weight: lighter

}

hr.style-one {
  /* border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image: -o-linear-gradient(left, #ccc, #333, #ccc); */
  padding: 0;
border: none;
height: 2px;
background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
color: #333;
text-align: center;
  }


  .div-block-15_zoho{
      padding-bottom: 2%;
    /* padding: 20px; */
    text-align: center;
  }

  .testimonials_zoho{
    padding-top: 20px;
    padding-bottom: 20px;
    /* background-color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00); */
  }

  .slider-2_zoho{

    height: 500px;
    /* background-color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00); */
  }
  .div-block-12_zoho {
    /* margin-right: 60px;
    margin-left: 60px; */
/*    padding-top: 40px;*/
    padding-right: 100px;
    padding-left: 100px;
    text-align: left;
  }
  
  .software_paragraph_zoho1 {
    font-family: proxima-nova, sans-serif;
    color: rgb(88, 88, 88);
    font-size: 22px;
    line-height: 32px;
    font-weight: 200;
      padding-top: 1%;
  }

  .learn_bt_zoho{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(201, 199, 199);
    background-color: hsla(208.00000000000003, 0.00%, 100.00%, 1.00);
    font-family: proxima-nova, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    text-align: center;
    margin: 10px;
  }
  
  .learn_bt_zoho:hover {
    background-color: rgba(211, 211, 211, 0.26);
    color: rgb(0, 0, 0);
  }

  .div-block-6_zoho1{

    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #dcdbdb;
    /* border-radius: 20px; */
    box-shadow: 0 0 3px 0 #d0cdcd;
    font-family: proxima-nova, sans-serif;
    text-align: center;
    margin: 6px;
  
  }

  .other_zoho {
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    color: rgb(88, 88, 88);
}

.hoever_card1_zoho {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #f2f2f2;
  background-color: #fff;
  font-family: proxima-nova, sans-serif;
  text-align: center;
}
.zoho_dial {

  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #3dcde7;
  text-align: center;

}
.div-block-16 {

  background-color: #f2f2f2;
  text-align: right;

}

.learn_bt_outzoho {
  border-style: solid;
  border-width: 2px;
  border-color: #1D7FE3;
  background-color:#1D7FE3;
  font-family: proxima-nova, sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.clearfix {
  overflow: auto;
}

.learn_bt_outzoho:hover {
  background-color: hsla(188.67469879518072, 76.15%, 57.25%, 0.26);
  color: hsla(188.67469879518072, 76.15%, 57.25%, 1.00);
}
/* raj */

.btn-group button {
  cursor: pointer; /* Pointer/hand icon */
  width: 50%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.col-container {
  display: table;
  width: 100%;
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}



@media only screen and (max-width: 600px) {
    
    .col_org-bg1 {

    background-color: #ffc46d;
    display: block;
}

.col_org-bg2 {

    background-color: #ffac31;
    display: block;
}

.col_org-bg3 {

    background-color: #fda016;
    display: block;
}

.col_org-bg4 {

    background-color: #ff9802;
    display: block;
}